language: go
script:
  - go test -v src/*
  - go build src/*
deploy:
  provider: releases
  skip_cleanup: true
  api_key: 
    secure: HSEev4Jc1xJAHaGzS6tEo1F6uuy/m3YfxBc2s3cPK9Y2iC3EHYXMwrFr9dMhQfHqoBEMJgJjgN5xCxVDQn+ZZ9lbVy2MBzxE6qrpRZCzsFInqDGSBf7k5DwmJOum7sYI3BjvbUhWPy89OMoKQYKSFWBg1gNj7jLMmwTgsKPc0uDqNDqdbjsGNB2YxKWefFPX58NjnLPFS98sAantS+G+DKGmk77sdmzbykQtAd1OeVdDypoFN95nTdFgs6jOqcfh1S70SQAiOsZwjrSVTc0jXVNgVw4RNUSvZ6zle2sL4jTZ2QE4PckKlHxnxV9GtFr3tSh7nmZvNl7cDNpvku/TPH+K4z02wDdD35u+BSv4peGPnBbyPX5klIIBeMdl1DE3IUxltJBT4/c98aaBvgQJQbLrIxSM87mJ1tODcJoRDBCFOi6E5GnhLoGdJ2nYjK3wDJgVEaqGrkdMzHbAoJ85D8HggBV35OINAWXYkW02OlLD61V2LEQjK/470SKjOURi1z/I0ANJcwS1KkN+SrAr4UzJ0eNjEs1HcIRqyW/IOCarRmtHAaopngnG+qoJ6uk3OQPsOOUE8emmTy82xUR2vO14kQ4zRD62UgBx5k+5iv8aGSILbpK6zfk4Gzd3sUnqK75FhM+g6vUECNbi/XW8iS3z7Bhcv7pKmrotl5UpIuY=
  file: "hello"
  on:
    repo: trainmanrun/scripts-hello-go
    tags: true